{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1 class="form-title">Добавить занятие</h1>
    <form method="post" class="form-wrapper">
        <div class="form-group">
            <label for="class_id">Название занятия:</label>
            <input type="text" id="class_id" name="class_id" class="form-input">
        </div>
        <div class="form-group">
            <label for="course">Курс:</label>
            <input type="text" id="course" name="course" class="form-input">
        </div>
        <div class="form-group">
            <label for="datetime">Дата и время:</label>
            <input type="text" id="datetime" name="datetime" class="form-input">
        </div>
        <button type="submit" class="form-button">Добавить</button>
    </form>
</div>
{% endblock %}
