{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1 class="form-title">Вход</h1>
    {% if error %}
    <p class="form-error">{{ error }}</p>
    {% endif %}
    <form method="post" class="form-wrapper">
        <div class="form-group">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" class="form-input">
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" class="form-input">
        </div>
        <button type="submit" class="form-button">Войти</button>
    </form>
</div>
{% endblock %}
