{% extends "base.html" %}
{% block content %}
<div class="admin-container">
  <div class="content-section">
    <h1 class="content-title">Посещаемость</h1>
    <div class="table-wrapper">
      <table class="attendance-table">
        <thead>
          <tr>
            <th>Занятие</th>
            <th>Курс</th>
            <th>Дата занятия</th>
            <th>Статус</th>
            <th>Когда отмечено</th>
          </tr>
        </thead>
        <tbody>
          {% for a in attendance %}
          <tr>
            <td>{{ a.class_id }}</td>
            <td>{{ classes[a.class_id].course }}</td>
            <td>{{ classes[a.class_id].datetime }}</td>
            <td>{{ a.status }}</td>
            <td>{{ a.timestamp }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
